@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Uthmani Hafs';
    src: url('./assets/fonts/font-lpmq.ttf') format('truetype'); /* Sesuaikan path sesuai lokasi font */
    font-weight: normal;
    font-style: normal;
}

body {
    @apply text-white bg-slate-800;
    scrollbar-width: 0.5rem;
    scrollbar-color: #4b5563 #374151;
}

.font-uthmani {
    font-family: 'Uthmani Hafs', serif;
    font-weight: 400;
    font-style: normal;
}

::-webkit-scrollbar {
    @apply hidden;
    @apply sm:block sm:w-2;
}

::-webkit-scrollbar-thumb {
    @apply bg-slate-500 rounded-lg transition-all ease-linear duration-300;
    @apply hover:bg-slate-400;
}

::-webkit-scrollbar-track {
    @apply bg-slate-600;
}
